.body{
    font-size: 28px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
#head,
.heading{
    background-color: rgb(157, 44, 10);
    color: rgb(196, 219, 18);  
    font: 36px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
.links {
    background-color: rgb(209, 199, 209) ;
    color: red;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.font-kabob{
    font-family: 'Times New Roman', Times, serif;
    font-size: 26px;
    color: rgb(0, 0, 0);

}
.heading{
    background-color: yellow;
    color: brown;
}
.headings{
    background-color: darksalmon;
    color: darkolivegreen;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.toplink{
    color: rgb(116, 232, 120);
    font-size: 28px;
    font-weight: 700;
}
/* from this line on, doner an shishkebab styles*/
.doner{
    color: rgb(211, 205, 116);
    background-color: chocolate;
}
.hdoner{
    background-color: mediumspringgreen;
    color: indigo;
}
.shish{
    background-color: rgb(192, 12, 114);
    color: black;
}